/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

}

/******************************************
/* LAYOUT
/*******************************************/
html{
  font-size: 15px;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.header{
  background-image: url("../img/strawberry flip.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.section{
  padding-block: 5rem;

}
.header{
  padding: 10px 70px;
}
.header nav{
  display: flex;
  justify-content: space-between;

}
.siteLogo{
  height:5vh;
  cursor:pointer;
}

h4{
  color: rgb(255, 145, 0);
  margin-bottom: 10px;
  
}

.header ul{
  display: flex;
  list-style: none;
}
.header li{
  margin-left: 20px;
}
.header a, .mealTime a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 1s color;
}
nav a:hover{
  color: orange;
}
nav .menu a, i{
  text-decoration: none;
  margin: 0 17px;
  color: black;
}

.welcomingPage{
  margin-inline: 4rem 20rem;
  padding-block: 3rem;
}
#firstHeading{
  font-size: 4rem;
  padding-right: 192px;
}

.button{
  background-color: orange;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  color: white;
}
.button i{
  color: #eef0f5;
}
.input .button{
  border-radius: 0 6px 6px 0px;
  margin-left: -5px;
  border: 1px solid orange;
  color: white;
  font-weight: bold;
}

.input input{
  border-radius: 4px 0 0 4px;
  padding: 9px;
  padding-left: 100px;
}
.social{
  display: flex;
  margin-block-start: 20px;
}
.social i{
  color: orange;
  font-weight: bold;
  /* padding-inline: -10px; */
}
.social a{
  margin-inline: 19px;
  font-weight: bold;
}


.secondPage{
  display: flex;
  background: url('../img/newImg.png');
  background-size: cover;
  background-color: rgba(255, 250, 250, 0.356);
}

.inner-dummy{
  width: 30%;
}

.inner-second{
  width: 90%;
  padding:50px 150px;
}

.inner-second p{
  margin-bottom: 20px;
  line-height: 1.5;
}

.inner-second a{
  margin-top: 20px;
  width: 30%;
}
.a-button{
  display: inline;
}

#thirdPage{
  text-align: center;
  padding-top: 30px;
  justify-content: center;
  background-color: #eef0f5;
}
.orderPage{
  text-align: center;
}
.mealTime{
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.185);
}
.mealTime li{
  margin: 15px;
  list-style: none;
  margin-bottom: 0.1;
}
.mealTime a{
  color: black;
}
.mealTime a:hover{color: orange}

.image{
  position: relative;
  width:14rem;
}
.image__img{
  display: block;
  width:100%;
  height: 14rem;
}
.image__overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.35s;
}
.image__overlay > *{
  transform: translate(20px);
  transition: transform 0.35s;
}
.image__overlay:hover{
  opacity: 1;
}
.image__overlay:hover > *{
  transform: translateY(0);
}

.image__title{
  font-size: 2rem;
  font-weight: bold;
}
.image__description{
  font-size: 1.2rem;
  margin-block-start: 0.25rem;
}

/* mine  */
.food-grid{
  justify-content: center;
  /* text-align: center; */
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: 100px;
}

/* .foodImg{
  position: relative;
  width:14rem;
}
.image__img{
  display: block;
  width: 100%;
}
.displayPriceOnHover{
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
} */


/*  */
/* .food-grid img{
  width: 14rem;
}

.food-grid{
  justify-content: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: 100px;
}
.foodImg{
  background-color: white;
  background-size:cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  height: 16rem;
  transition: font-size .3s linear, height .5s ease-in;
}

.displayPriceOnHover:hover{
  font-weight: bold;
  color: red;
}
.foodImg p{
  margin-bottom: 30px;
} */

/* }
.foodImg.one{
  background-image: url(../img/selected\ 1.jpg);

}
.foodImg.two{
  background-image: url(../img/eggg.jpg);
}
.foodImg.three{
  background-image: url(../img/bread\ and\ steak.jpg);

}
.foodImg.four{
  background-image: url(../img/bread\ and\ steak.jpg);
}
.foodImg.five{
  background-image: url(../img/bread\ and\ steak.jpg);
}
.foodImg.six{
  background-image: url(../img/bread\ and\ steak.jpg);
}
.foodImg.seven{
  background-image: url(../img/bread\ and\ steak.jpg);
}
.foodImg.eight{
  background-image: url(../img/bread\ and\ steak.jpg);
} */

.fourthPage{
  background-image: url(../img/FLSIX0qXsAAGzyq.jpg);
  background-position-y: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  text-align: center;
  padding-block: 60px;
  padding-bottom: 50px;
}
.openingHours{
  display: flex;
  justify-content: space-around;
}
.fourthPage img{
  width:fit-content;
}

.fifthPage{
  padding: 60px 90px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.459);
}
.fifthPage img{
  width: 10%;
  /* border-radius: 70px 70px */
  border-radius: 50%;
}

#footer{
  padding-bottom : 100px;
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
  background-color: #eef0f5;
  padding-bottom: 70px;
}

#footer .footerInner-1,.footerInner-2,.footerInner-3,.footerInner-4{
  flex: 1;
  padding-top: 30px;
  padding-bottom: 15px;

}
#footer .footerInner-1,.footerInner-2,.footerInner-3{
  padding-right: 10px;
}
#footer h3{
  margin-bottom: 30px;
}
.footerInner h3, h6{
  margin-bottom: 10px;
}
.footerInner-4 i{
  margin-left: -40px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Media query for responsivness */

@media screen and (max-width: 950px){
  html{
    font-size: 10px;
  }
  body{
    width: 100%;
  }
  #firstHeading {
    font-size: 3rem;
  }
  .siteLogo {
    height: 3vh;
  }
  .header{
    padding: 0;
  }
  .header nav{
    padding: 0;
    padding-block-start: 7px;
    margin-inline-start: 1rem
  }
  .input .button{
    border-radius: 0 4px 4px 0px;
    margin-left: -2px;
  }
  .food-grid{
    grid-template-columns: repeat(3, 2fr);
    width: min(95%,100rem);
    margin-inline: 20px;
  }
  .image{
    width:80%;
    margin-inline: 10px;
    margin-inline-start: 20px;
  }
  .foodImg{
    height: 18rem;
  }
  .foodImg p{
    margin-bottom: 15px;
  }
  .inner-dummy{
    width: 15%;
  }
  
  .inner-second{
    width: 90%;
    padding-inline-end: 41px;
  }
  footer{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .welcomingPage{
    margin-inline: 1rem 3rem;
  }
  
}
@media screen and (max-width: 600px){
  .header li {
    margin-left: 13px;
  }
  .inner-second{
    padding-inline-start: 14px;
    margin-inline-end: 20px;
  }
  .food-grid{
    margin-inline: 10px;
  }
  .image {
    width:100%;
    margin-inline-start: 0;
  }
  .input input {

    padding-left: 84px;
  }

  .foodImg{
    height: 18rem;
  }

  .social a{
    margin-inline: 8px;
    font-weight: bold;
  }
}

@media screen and (max-width: 375px){
  html{
    font-size: 8px;
  }
  .header li {
    margin-left: 13px;
  }
  .inner-second{
    padding: 0;
  }
  #firstHeading {
    font-size: 3rem;
    padding-right: 76px;
}
  .food-grid{
    grid-template-columns: repeat(2, 4fr);
    justify-content:baseline;
    width: min(95%,100rem);
    gap: 1rem;
  }
  .image{
    width:80%;
    margin-inline: 0;
    justify-content: center;
    margin-inline-start: 20px;
  }
}